body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    height: 15vh;
    width: 100%;
    display: flex;
    background-color: #ffff;
    align-items: center;
    position: fixed;
    line-height: 10vh;
    z-index: 4;
    border-bottom: 2px solid gray;

}

nav .logo {
    height: 15vh;
    width: 15%;
    margin-left: 2%;
}

nav .logo img {
    height: 100%;
    width: 100%;
}

nav .Name {
    height: 20vh;
    width: 20%;
    margin-left: 15%;

}

nav .Name p {
    margin-top: 24px;
    position: absolute;
    font-size: 20px;
    letter-spacing: 2px;
}

nav .Name pre {
    margin-top: 60px;
    position: absolute;
    font-size: 15px;
    margin-left: 23px;

}

nav ul {
    width: 60%;
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 30%;
}

nav ul li {
    position: relative;
    margin-right: 30px;

}

nav ul li .fa-solid {
    display: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 22px;
}

nav ul #co a {
    color: rgb(80, 156, 3);
}

nav ul li::after {
    content: '';
    height: 2px;
    width: 0%;
    background: linear-gradient(rgba(212, 212, 148), rgba(102, 188, 102), rgba(104, 104, 134));
    position: absolute;
    left: 0px;
    bottom: 20px;
    transition: 0.5s;
}

nav ul li:hover::after {
    width: 100%;
}

nav .bars {
    display: none;
}

.main {
    height: 106vh;
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    position: fixed;
}

.main img {
    height: 100%;
    width: 100%;
}

.page1 {
    height: 100vh;
    width: 100%;
    background-color: transparent;
    position: absolute;
}

.page1 h3 {
    margin-left: 37%;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-top: 230px;
    letter-spacing: 0.05em;
}

.page1 p {
    font-size: 150px;
    margin-left: 27%;
    font-weight: bold;
    margin-top: 30px;
}

.page1 h2 {
    margin-left: 34%;
    margin-top: 20px;
    font-weight: bolder;
    letter-spacing: 0.05em;

}

.page1 button {
    position: relative;
    overflow: hidden;
    border: 1px solid #18181a;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    width: 120px;
    height: 45px;
    margin-left: 46%;
    margin-top: 30px;
    text-decoration: none;
    cursor: pointer;
    background: #18181a;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.page1 button span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 1;
}

.page1 button span:last-child {
    color: rgba(4, 4, 4);
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
}

.page1 button:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(249, 248, 248);
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 5;
}

.page1 button:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
}

.page1 button:hover span:last-child {
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

/* =================================Main2-================================================= */

.main2 {
    height: 106vh;
    width: 100%;
    position: absolute;
    z-index: 2;
    margin-top: 81vh;
    z-index: 2;
    background: transparent;
}

.main2 .about {
    height: 90vh;
    width: 100%;
    margin-top: 16vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: transparent;
    overflow: hidden;
}

.main2 .about .upper .image:hover {
    filter: blur(0.8px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.main2 .about .upper {
    height: 50%;
    width: 100%;
    background: #DEDEDE;
}

.main2 .about .upper .media {
    height: 10vh;
    width: 30%;
    position: absolute;
    margin: 34vh 0 0 65%;
}

.main2 .about .upper .media #face {
    color: #3185ce;
    font-size: 30px;
    margin-top: 25px;
    margin-right: 60px;
}

.main2 .about .upper .media #face:hover {
    box-shadow: #3185ce 0px 5px 15px;
}

.main2 .about .upper .media #twit {
    color: #3185ce;
    font-size: 30px;
    margin-top: 25px;
    margin-right: 60px;
}

.main2 .about .upper .media #twit:hover {
    box-shadow: #3185ce 0px 5px 15px;
}

.main2 .about .upper .media #insta {
    color: rgb(233, 67, 141);
    font-size: 30px;
    margin-top: 35px;
    margin-right: 60px;
}

.main2 .about .upper .media #insta:hover {
    box-shadow: rgb(233, 67, 141) 0px 5px 15px;
}

.main2 .about .upper .media #you {
    color: red;
    font-size: 30px;
    margin-top: 25px;
    margin-right: 60px;
}

.main2 .about .upper .media #you:hover {
    box-shadow: red 0px 5px 15px;
}

.main2 .about .upper .media #in {
    color: #3185ce;
    font-size: 30px;
    margin-top: 25px;
}

.main2 .about .upper .media #in:hover {
    box-shadow: #3185ce 0px 5px 15px;
}

.main2 .upper .image {
    height: 40vh;
    width: 20%;
    margin-top: 6%;
    background-color: #DEDEDE;
    position: absolute;
    margin-left: 38%;
    border: 2px solid #fff;
    border-radius: 50%;
}

.main2 .upper .image img {
    height: 95%;
    width: 100%;
    background-size: cover;
    overflow: hidden;

}


.main2 .lower {
    height: 50%;
    width: 100%;
    background-color: #ffff;
}
.main2 .lower h1{
    margin: 70px 0 0 44%;
    text-align: center;
    position: absolute;
}
.main2 .lower p{
    margin: 130px 100px 0 100px;
    position: absolute;
    font-size: 22px;
}

/* ========================================Main3===================================== */

.main3 {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 2;
    background: url(image/pag1back.webp);
    background-repeat: no-repeat;
    object-fit: cover;
    overflow: hidden;
    margin-top: 185vh;
}

.main3 .skill1 {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.main3 .skill1 .cwithclass {
    height: 100%;
    width: 22%;
    background-color: transparent;
    border: 3px solid orangered;
}

.main3 .skill1 .cwithclass h1 {
    margin-left: 8%;
    margin-top: 10px;
}

.main3 .skill1 .cwithclass li {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 30px;
    line-height: 2;
}

.main3 .skill1 .cwithclass li span {
    margin-left: 20px;
}


.main3 .skill1 .python {
    height: 100%;
    width: 22%;
    background-color: transparent;
    border: 3px solid orangered;
}

.main3 .skill1 .python h1 {
    margin-left: 35%;
    margin-top: 10px;

}

.main3 .skill1 .python li {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 30px;
    line-height: 2;
}

.main3 .skill1 .mysql {
    height: 100%;
    width: 22%;
    background-color: transparent;
    border: 3px solid orangered;
}

.main3 .skill1 .mysql h1 {
    margin-left: 35%;
    margin-top: 10px;

}

.main3 .skill1 .mysql li {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 30px;
    line-height: 2;
}

.main3 .skill1 .mysql li span {
    margin-left: 25px;
}

.main3 .skill1 .aws {
    height: 100%;
    width: 22%;
    background-color: transparent;
    border: 3px solid orangered;
}

.main3 .skill1 .aws h1 {
    margin-left: 40%;
    margin-top: 10px;
}

.main3 .skill1 .aws li {
    margin-left: 15px;
    font-size: 20px;
    margin-top: 30px;
}

.main3 .skill1 .aws li span {
    margin-left: 25px;
}
/*======================================Projects===========================================*/
.projects{
    height: 100vh;
    width: 100%;
    position: absolute;
    margin-top: 280vh;
}
.projects .p{
    height: 100%;
    width: 100%;
    position: relative;
}
.projects .p video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
}
.projects .p .pr{
    height: 100%;
    width: 100%;
    position: relative;
    background-color:transparent;
    z-index: 2;
    display: flex;
    margin-top: -100vh;
}
.projects .p .pr .amazon{
    height: 100%;
    width: 50%;
}
.projects .p .pr .amazon .vid{
    height: 40%;
    width: 80%;
    margin-left: 10%;
    margin-top: 20%;
}
.projects .p .pr .amazon .vid video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.projects .p .pr .iaf{
    height: 100%;
    width: 50%;
}
.projects .p .pr .iaf .vid1{
    height: 40%;
    width: 80%;
    margin-left: 10%;
    margin-top: 20%;
}
.projects .p .pr .iaf .vid1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

/*===================Footer==================*/
.footer {
    height: 50vh;
    width: 100%;
    position: absolute;
    margin-top: 380vh;
    background-color: #222;
}
.footer .content{
    height: 40vh;
    width: 85%;
    margin-left: 7.5%;
    display: flex;
    justify-content: space-between;
}
.footer .content .content1{
    height: 100%;
    width: 24%;
}
.footer .content .content1 h3{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30PX;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
}
.footer .content .content1 hr{
    border: 1px dotted #ddd;
}
.footer .content .content1 ul li{
    list-style: none;
    color: #fff;
    font-weight: lighter;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.6;
}
.footer .content .content2{
    height: 100%;
    width: 24%;
}
.footer .content .content2 h3{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30PX;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
}
.footer .content .content2 hr{
    border: 1px dotted #ddd;
}
.footer .content .content2 ul li{
    list-style: none;
    font-weight: lighter;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.6;
}
.footer .content .content2 ul li a{
    color: #fff;
}
.footer .content .content2 ul li a:hover{
    color: cyan;
    text-decoration: none;
}

.footer .content .content3{
    height: 100%;
    width: 24%;
}
.footer .content .content3 h3{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30PX;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
}
.footer .content .content3 hr{
    border: 1px dotted #ddd;
}
.footer .content .content3 ul li{
    list-style: none;
    font-weight: lighter;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.6;
}
.footer .content .content3 ul li a{
    color: #fff;
}
.footer .content .content3 ul li a:hover{
    color: cyan;
    text-decoration: none;
}
.footer .content .content4{
    height: 100%;
    width: 24%;
    text-align: center;
}
.footer .content .content4 img{
    height: 100%;
    width: 100%;
    top: 0;
}


.footer .media {
    height: 10vh;
    width: 100%;
    border-top: 1px solid #ddd;
    display: flex;
}

.footer .media .copy {
    height: 100%;
    width: 42.5%;
    margin-left: 7.5%;
}

.footer .media .copy h5 {
    color: #fff;
    margin-top: 30px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}

.footer .media .copy h5 a {
    color: #3185ce;
    text-decoration: none;
    font-weight: 700;
}

.footer .media .smedia {
    height: 100%;
    width: 42.5%;
    margin-right: 7.5%;
    display: flex;
    justify-content: space-evenly;
} 
.footer .media .smedia #face {
    color: #3185ce;
    font-size: 20px;
    margin-top: 25px;
}

.footer .media .smedia #twit {
    color: #3185ce;
    font-size: 20px;
    margin-top: 25px;
}

.footer .media .smedia #insta {
    color: rgb(233, 67, 141);
    font-size: 20px;
    margin-top: 25px;
}

.footer .media .smedia #you {
    color: red;
    font-size: 20px;
    margin-top: 25px;
}

.footer .media .smedia #in {
    color: #3185ce;
    font-size: 20px;
    margin-top: 25px;
}
.footer .media .smedia #face:hover,
.footer .media .smedia #twit:hover,
.footer .media .smedia #insta:hover,
.footer .media .smedia #you:hover,
.footer .media .smedia #in:hover {
    color: cyan;
}
